---
import siteConfig from '../../site.config.mjs';

const owner = siteConfig.owner;
const base = import.meta.env.BASE_URL;
---

<div
	class="absolute top-[80px] bottom-[120px] left-0 right-0 z-0"
	style={{
		backgroundImage: 'url(/src/gallery/nature/nature-8.jpg)',
		backgroundSize: 'cover',
		backgroundPosition: 'center',
		backgroundRepeat: 'no-repeat',
		opacity: 0.6,
	}}
>
</div>
<div class="container text-left mb-32 relative z-10">
	<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold leading-tight">
		{owner} Photography
	</h1>
	<p class="mt-4 text-base md:text-lg text-gray-700">A place to showcase my photography</p>
	<a
		href=`${base}/collections`
		class="mt-8 inline-block px-6 py-3 border-2 border-black rounded-md
                      hover:bg-black hover:text-white transition-all duration-300
                      text-sm md:text-base font-medium
                      transform hover:scale-105 active:scale-95"
	>
		View Gallery
	</a>
</div>
