---
import '../styles/global.css';
import siteConfig from '../../site.config.mjs';
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';

const owner = siteConfig.owner;
const favicon = siteConfig.favicon;
const base = import.meta.env.BASE_URL;
---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href={`${base}/${favicon}`} />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{owner}</title>
	</head>
	<body>
		<NavBar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
